.services{
    /* position: absolute;
    top:3600px;
    left:7vw; */
    margin-top:130px;
    margin-left:8vw;
}
#services{
    width:92%;

}
#test{
    margin-top:160px;
    width:90%;
}
#faq{
    width:90%;
    margin-top:190px;
}